<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">

<h4>Know of a pet needing a home? </h4>
<div id="main">

  <div>
    <ul>
      <li *ngIf="therestaurant[0].name.length <= 2">Restaurant name must be greater than 2 characters</li>
      <li *ngIf="therestaurant[0].cuisine.length <= 2">Restaurant cuisine must be greater than 2 characters</li>
    </ul>
  </div>

  <div id="input">
    <p>Restaurant name:</p>
    <input type="text" name="name" [(ngModel)]="therestaurant[0].name">
    <p>Cuisine type:</p>
    <input type="text" name="type" [(ngModel)]="therestaurant[0].cuisine">
  </div>


  <div id="buttons">
    <button *ngIf="therestaurant[0].name.length > 2 && therestaurant[0].cuisine.length > 2 "  [routerLink]="['']" (click)="updateRestaurant(therestaurant[0]._id,therestaurant[0])">
      Submit
    </button>
    <button [routerLink]= "['']" > Cancel </button>
  </div>
</div>